/* write your parent styles in here for your App.js */
h2,
h3,
h4 {
	font-weight: 700;
	color: #212121;
}
h1 {
	font-size: 3rem;
	color: #fff;
	margin-bottom: 3%;
}
h2 {
	font-size: 2.4rem;
}
h3 {
	font-size: 2rem;
}
h4 {
	font-size: 1.8rem;
}

.App {
	text-align: center;
	margin-top: 2%;
}

.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
